@masonry-base-color: #028302;
@masonry-header-backgroundcolor: @masonry-base-color;
@masonry-header-fontcolor: contrast(@masonry-header-backgroundcolor);
@masonry-article-box-shadow: "7px 7px 5px 0px rgba(50, 50, 50, 0.75)";
@masonry-article-backgroundcolor: white;
@masonry-article-fontcolor: contrast(@masonry-article-backgroundcolor);
@navbar-default-bg: black;
@navbar-default-link-color: contrast(@navbar-default-bg);
@navbar-default-link-hover-color: contrast(@masonry-base-color);
@navbar-default-link-active-color: contrast(@masonry-base-color);
@navbar-default-link-hover-bg: @masonry-base-color;
@navbar-default-link-active-bg: @masonry-base-color;
@footer-bg-color: black;
@footer-text-color: contrast(@footer-bg-color);
@footer-link-color: contrast(@footer-bg-color);
#page,.site-content {
padding:0;
.row {margin:0px;}
} 

article div.header 
{  color: @masonry-header-fontcolor; background-color: @masonry-header-backgroundcolor; 
 h1 {
	font-size: 16px; line-height:1; padding: 5px;
	a {color: @masonry-header-fontcolor; font-size: 16px; }
 }
} 

#contentholder div[class*="col-"] {
article {
.box-shadow(~"@{masonry-article-box-shadow}");
background-color: @masonry-article-backgroundcolor;
}
margin-bottom:25px;
}
.navbar {
.search-form {
    float: right !important;
}
}

.searchbutton {
.button-variant(contrast(@masonry-base-color);@masonry-base-color;contrast(@masonry-base-color);); 
}


.paging 
{
text-align: center;
ul {
    .center-block();
    display: inline-block;
	list-style-type: none;
li {
    float:left;
    margin:0px 0px 2px 0px;
    
    span,
    a {
    background-color:#000;
    color:#fff;
    padding:7px 11px 7px 11px;
    font-size:12px;
    border:solid 2px #000;
    margin-left:1px;
    &:hover, &.current, &.dots {
    background-color:@masonry-base-color;
    color: contrast(@masonry-base-color); 
    }
	}
}
}
}
